<div class="container">
  <h1>User Skills and Levels</h1>
  
  <ul>
    <% @users.each do |user| %>
    <li><h3><%= user.name %> | <%= user.email %></h3></li>
          <ol>
      <% user.proficiencies.each do |p| %>
      <li>Skill: <%= p.skill.name %> Context:<%= p.skill.context %>, Years: <%= p.years %>, Formal Training: <%= p.formal %> </li>
      <% end %>
    </ol>
    <% end %>
  </ul>

</div>
